.photo-grid {
    width: 90%;
    margin: 4.5vw auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2vw;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.4vw;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6vw;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.8vw;
    }
}