.places__title {
    margin: 0;
    grid-column: 1/2;
    color: #FFFFFF;
    font-size: 72px;
    line-height: calc(76 / 72);
    font-family: 'Inter';
    font-weight: 900;
    max-width: 330px;
}

@media screen and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: calc(46 / 42);
    }
}

@media screen and (max-width: 767px) {
    .places__title {
        font-size: 32px;
        line-height: calc(35 / 32);
        margin-bottom: 32px;
        max-width: 288px;
        margin-left: 16px;
    }
}