.cover__subtitle {
    margin: 0 auto 245px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(22 / 18);
    max-width: 360px;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        margin-bottom: 115px;
    }
}


@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: calc(16 / 14);
        margin-bottom: 33px;
    }
}