.lead__title {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 96px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 5%;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        font-size: 85px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 60px;
    }
}

@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 40px;
    }
}