.lead__subtitle {
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: calc(36 / 30);
    text-align: center;
    margin: 0 auto 64px;
    max-width: 640px;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: calc(20 / 16);
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin-bottom: 40px;
    }
}