.footer__nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .footer__nav {
        flex-direction: column;
        margin-bottom: 4.5vw;
    }
}