@media screen and (max-width: 767px) {
    .places__text-container {
        grid-row: 4/5;
        grid-column: 1/2;
        max-width: 288px;
        margin-left: auto;
        margin-right: auto;
    }
}