.cover__title {
    margin: 245px auto 32px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: calc(76 / 72);
    max-width: 560px;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin-top: 33px;
        margin-bottom: 16px;
        max-width: 250px;
        font-size: 32px;
        line-height: calc(35 / 32);
    }
}

