.website__link {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    transition: opacity 0.3s linear;
}

.website__link:hover {
    opacity: 0.8;
}