.places__website {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
}

@media screen and (max-width: 767px) {
    .places__website {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 32px;
        max-width: 288px;
        margin-left: 16px;
    }
}